@model Application.Dtos.ConfiguracionCasoDto
@{
    ViewData["Title"] = "Registro Alumnos en Materia";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Registro" method="post">
    <div class="row">
        <div class="col-md-6">
            <p>En este formulario colocar el nombre del alumno y el nombre de la materia a registrar</p>          
          
            <div class="form-group">
                <label asp-for="RegistrarAlumno">Nombre del alumno</label>
                <input class="form-control" asp-for="RegistrarAlumno">
            </div>
            
            <div class="form-group">
                <label asp-for="EnMateria">Nombre de la materia</label>
                <input class="form-control" asp-for="EnMateria">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
        <div class="col-md-6">
            @if (Model != null && Model.Mensaje != "") {
                <div class="alert alert-success" role="alert">
                    @Model.Mensaje
                </div>
            }
        </div>
    </div>
    
</form>
